node_modules
npm-debug.log
dist
.git
.gitignore
.vscode
.env
**/.DS_Store
backend/node_modules
src/backend
backend/src/uploads
node_modules
npm-debug.log
dist
.git
.gitignore
.DS_Store
**/.env
**/authconfig.env
**/.vite
**/.cache
**/uploads



